body {
    background: url("img/back1.jpg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    width: 100%;
}
#mainContent {
    position: fixed;
    z-index: 2;
}
#logo {
   text-align: center;
    margin-top: 20%;
    margin-left: 20%;
    opacity: 0.6;
}

  input{
    color: #e1dde8;
    border: none;
    background: inherit;
    margin-left: 3%;
    margin-bottom: 3%;
    font-size: 150%;
    outline:none;

}

form label {
    color: #e1dde8;
    margin-left: -10%;
    font-size: 150%;

}

form div {
    border-bottom: 1px solid #e1dde8;
}


#btnSingIn {
    width: 70%;
    border-radius: 50px;
    margin-top: 10%;
    background-color: #ff004b;
    color: #e1dde8;
    font-size: 130%;
    border: none;
    outline:none;
}
#TB_overlay {
    background: linear-gradient(to bottom, #5600c7, #000000);
    height: 100%;
    left: 0;
    opacity: 0.50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#form i{
    color: #cecece;
}

#form input{
    border-bottom: 0;
    font-size: large;
}
#form input:focus {
    border-bottom: 0;
    box-shadow: 0 0 0 0 ;

}
form input:focus {
    border-bottom: 0;
}
#valBtn {
    position: absolute;
    left: 0;
    right: 0;
}

#circleForBtn {
    position: absolute;
    top: 14%;
    left: 17%;
}
.circle {
    border-left-color: #ffffff !important;
    border-right-color: #ffffff !important;
    border-top-color: #ffffff !important;
}
.scale {
    -webkit-transform: scale(20);
}
.ripple {
    -webkit-transform: scale(100);
    -ms-transform: scale(100);
    transform: scale(100);
    -webkit-transition: 2.25s all ease ;
    transition: 2.25s all ease ;
}
#form div {
    border-bottom: 1px solid #cecece;
    padding: 0;
}
#form div i{
    padding-top: 5px;
}